.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
    background-color: black;
    cursor: none;
}

.description {
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    font-size: 0.85rem;
    max-width: var(--max-width);
    width: 100%;
    z-index: 2;
    font-family: var(--font-mono);
}

.description a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.description p {
    position: relative;
    margin: 0;
    color: var(--meta-black);
}

.description h1 {
    position: relative;
    margin: 0;
    color: var(--meta-black);
}

.rotatingLogo {
    animation: rotate 8s linear infinite;
    position: absolute;
    top: 0;
}

.sombrero {
    position: absolute;
    top: 0;
    z-index: 2;
}

.metalogga {
    position: absolute;
    bottom: -50px;
}

.bouncingArea {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.emoji {
    position: absolute;
    font-size: 2rem;
    will-change: transform;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes fadeIn {
    0%,
    100% {
        opacity: 0.2;
    }
    50% {
        opacity: 1;
    }
}
